*{
    padding: 0;
    margin:0;
}

.layer{
    height:100%;
    width: 100%;
    background-image:  url('sign2.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    overflow: hidden;
}

.form-box{
    width:400px;
    height: 610px;
    box-shadow:0 0 3px 0 rgba(0,0,0,0.3);
    background: white;
    padding: 20px;
    margin:3% auto;
    text-align: center;
    
}

h1{
    color:rgb(50, 121, 228)
}

#fname,#psw,#email,#Ph,#Age,#Address{
   
    width: 90%;
    border-radius: 12px;
    padding: 10px;
    margin:10px,0;
    border:1px solid #999

}
button{
    color: rgb(30, 89, 179);
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}